{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "About" %}{% endblock %}

{% block body %}
    {% blocktrans %}

Questo vuole essere un servizio libero, erogato nel rispetto delle libertà degli utenti di software.
Il progetto è rivolto ad offrire alla società e in particolare a quelle piccole realtà che fanno fatica a portare avanti i loro progetti.<p/>

Crediamo che queste realtà possano, con la loro attività cambiare il mondo,
e quindi vogliamo semplificare la loro vita.<p/>

Il progetto JAGOM è un granello che abbiamo seminato, aiutateci a coltivarlo e farlo crescere in modo che ne possiamo tratte tutti giovamento e possiamo veramente iniziare a cambiare le cose.< p/>

Se volete offrirci il vostro aiuto per portare avanti il progetto ci potete:
<ul>
    <li>contattare via mail all'indirizzo <a href="mailto:chicitiene@jagom.org">{{ CONTACT_EMAIL }}</a></li>
    <li>aiutare economicamente facendo un bonifico con causale <strong>sviluppo JAGOM</strong> al conto corrente IBAN <strong>IT22 L088 8336 670C C028 0282 025</strong> intestato a BEFAIR SNC DI FERRONI LUCA E LORENZINI FRANCESCA</li>
</ul>
    {% endblocktrans %}
{% endblock body %}
