{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Terms of Service" %}{% endblock %}

{% block body %}
{% blocktrans %}
<p>Questo servizio è realizzato per gli utenti e per migliorare il modo in cui facciamo le cose. Per essere più efficaci e poter avere maggiore visibilità fra noi stessi e verso le istituzioni. Per capire in che direzione stiamo andando e gli sforzi che facciamo.</p>

<p>Dovremo scrivere dei termini di servizio precisi e puntuali, e scomoderemo gli avvocati per questo, ma per ora quello che vi possiamo dire è che:</p>

<ul>
    <li>teniamo alle vostre libertà</li>
    <li>teniamo a lasciarvi la proprietà dei contenuti che inserite: sono idee vostre, realizzazioni vostre, immagini, video, materiale, perché dovremmo appropriarcene noi ? </li>
    <li>mostreremo, su richiesta, le procedure che producono le pagine web che vi mostriamo, nella più assoluta trasparenza, in modo che voi, o vostri esperti collaboratori fidati possano in qualunque momento verificarne la correttezza. Offriamo questo servizio nella più totale fiducia, che se qualcosa di perfettibile verrà rilevato, ce lo segnalerete.</li>
    <li>analizzeremo i vostri dati in forma anonima e aggregata. Nel qual caso volessimo condurre analisi più specifiche volte al miglioramento del nostro e del vostro operato chiederemo la vostra previa autorizzazione</li>
</ul>

Cercheremo di fare il possibile per lasciarvi questi diritti, però saranno solo gli ottimi avvocati che contatteremo che ci diranno fin dove ci possiamo spingere.
{% endblocktrans %}

{% endblock body %}
