{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "What Next?" %}{% endblock %}

{% block body %}
    <h1>{% trans "What Next?" %}</h1>
    
    {% if user.is_authenticated %}
        <p>{% trans "Here are some things to do to get started with this site:" %}</p>
        
        <dl class="what_next">
            {# TODO: improve performance #}
            {% for emailaddress in user.emailaddress_set.all %}
                {% if emailaddress.verified %}
                {% else %}
                    {% if forloop.last %}
                        <dt><a href="{% url acct_email %}">{% trans "verify an email address" %}</a></dt>
                        <dd>{% trans "so you can receive notifications, reset your password and so people can find you more easily." %}</dd>
                    {% endif %}
                {% endif %}
            {% endfor %}
            
            {% if not user.get_profile.name %}
            <dt><a href="{% url profile_detail user.username %}">{% trans "fill out your profile" %}</a></dt>
            <dd>{% trans "to tell the world a little about yourself." %}</dd>
            {% endif %}
            
            {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% else %}
                {% if user.is_staff %}
                    <dt><a href="{% url admin_invite_user %}">{% trans "invite more people to the site" %}</a> {% trans "[admin only]" %}</dt>
                    <dd>{% trans "so more people can share in the fun." %}</dd>
                {% endif %}
            {% endifsetting %}

            <dt><a href="{% url your_projects %}">{% trans "seed your grains" %}</a></dt>
            <dd>{% trans "so you can make them grow and begin to keep track of your work." %}</dd>

        </dl>
        {% else %}
            {% url acct_login as login_url %}
            
            <p class="what_next">
                {% ifsetting ACCOUNT_OPEN_SIGNUP %}
                    {% url acct_signup as signup_url %}
                    {% blocktrans %}Start by <a href="{{ signup_url }}">signing up</a> and <a href="{{ login_url }}">logging in</a>.{% endblocktrans %}
                {% else %}
                    {% blocktrans %}Start by <a href="{{ login_url }}">logging in</a>.{% endblocktrans %}
                {% endifsetting %}
            </p>
        {% endif %}
{% endblock %}
