{% extends "projects/base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load account_tags %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load projects_tags %}
{% load group_tags %}
{% load topics_tags %}
{% load wakawaka_tags %}
{% load theme_tags %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
{% endblock %}
{% block head_title %}{{ project.name }}{% endblock %}

{% block body %}
    
    {% if user.is_authenticated %}
        <div class="right_panel" style="width:300px;">
            <div class="members">
                <h2>{% trans "Members" %}</h2>
                <table width="100%">
                    {% for member in project.members.all %}
                        {% if forloop.counter0|divisibleby:"4" %}<tr>{% endif %}
                        <td>
                            <div class="avatar">
                            {% ifequal user project.creator %}
                                {% ifnotequal member.user project.creator %}
                            <div class="delete-icon" id="dm-{{ member.id }}"><a href="#" onclick="$.get('{% url delete_member_from_project group_slug=project.slug,member_id=member.id %}', function() { $('#dm-{{ member.id }}').parents('td').fadeOut(); $.get('{% url get_messages %}', function(data) { $('#messages').append(data); }); }); return false;">{% silk "delete" %}</a></div>
                                {% endifnotequal %}
                            {% endifequal %}
            
                                {% avatar member.user 40 %}
                            </div>
                            <div class="details"><a href="{% url profile_detail member.user.username %}" title="{% user_display member.user %}">{% user_display member.user %}</a></div>
                        </td>
                        {% if forloop.counter0|add:"1"|divisibleby:"4" %}</tr>{% endif %}
                    {% endfor %}
                    {% if project.members.all|length|divisibleby:"4" %}{% else %}</tr>{% endif %}
                </table>
            </div>
    <div class="rss-reader" id="what-are-we-doing" style="display:none;">
        <h2>
            <a href="{{ PRJS_URL }}/{{ project.slug }}/timeline?milestone=on&ticket=on&ticket_details=on&wiki=on&max=8&authors=&daysback=60&format=rss"><img src="{{ STATIC_URL }}img/rss16x16.png" /></a> 
            {% trans "Last activities" %} 
            <a href="#" class="close" onclick="$('#what-are-we-doing').hide('slow');">{% trans "Close" %}</a>
        </h2>
        <div class="rss-reader-content" id="what-are-we-doing-content">
        </div>
    </div>
            {% comment %} #TODO: TO BE DONE
            <div class="members">
                <h2>{% trans "Inherited from..." %}</h2>
                <table width="100%">
                    {% for member in project.parents.all %}
                        {% if forloop.counter0|divisibleby:"4" %}<tr>{% endif %}
                        <td>
                            <div class="avatar">{% avatar member.user 40 %}</div>
                            <div class="details"><a href="{% url profile_detail member.user.username %}" title="{% user_display member.user %}">{% user_display member.user %}</a></div>
                        </td>
                        {% if forloop.counter0|add:"1"|divisibleby:"4" %}</tr>{% endif %}
                    {% endfor %}
                    {% if project.members.all|length|divisibleby:"4" %}{% else %}</tr>{% endif %}
                </table>
            </div>
            {% endcomment %}
        </div>
    {% endif %}
    
    <div style="width: 550px;">
        
        <h1>{% trans "Project" %} {{ project.name }}</h1>
        
        <p>
            {% trans "Slug" %}: <tt>{{ project.slug }}</tt><br />
            {% trans "Creator" %}: <a href="{% url profile_detail project.creator.username %}">{% user_display project.creator %}</a><br />
            {% trans "Created" %}: {{ project.created|date }}
            <br />
            {% show_tags_for project %}
        </p>
        
        <p>{{ project.description }}</p>
        
        {% ifequal user project.creator %}
            <div class="form-toggle">
                <p><span id="edit-project-toggle">{% trans "Edit details" %}</span></p>
                
                <form class="uniForm" id="edit-project" method="POST" action="">
                    {% csrf_token %}
                    <fieldset class="inlineLabels">
                        {{ project_form|as_uni_form }}
                        <div class="form_block">
                            <input type="hidden" name="action" value="update" />
                            <input type="submit" value="{% trans "updated" %}"/>
                        </div>
                    </fieldset>
                </form>
            </div>
            
        {% endifequal %}
        
        {% if user.is_authenticated %}
            <div>
                {% if is_member %}
                    {% ifequal user project.creator %}
                        <p>You are the creator of this project.</p>
                        
                        <div class="form-toggle">
                            <p><span id="add-member-toggle">{% trans "Add new member" %}</span></p>
                            
                            <form class="uniForm" id="add-member" method="POST" action="">
                                {% csrf_token %}
                                <fieldset class="inlineLabels">
                                    {{ adduser_form|as_uni_form }}
                                    <div class="form_block">
                                        <input type="hidden" name="action" value="add" />
                                        <input type="submit" value="{% trans "add" %}"/>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        
                        <p>{% silk "delete" %} <a href="#" onclick="$('#delete_project_form').toggle(); return false;">{% trans "Delete project" %}</a><p>
                         <form class="delete_form" id="delete_project_form" action="{% url project_delete project.slug %}" method="POST" style="display: none;">
                             {% csrf_token %}
                             <input type="submit" value="{% trans "Delete Project" %}" /> (all content will be removed)
                        </form>
                    {% else %}
                        <p>You are member of this project.</p>
                    {% endifequal %}
                {% else %}
                    <p>It is up to the creator of this project (<a href="{% url profile_detail project.creator.username %}">{% user_display project.creator %}</a>) to add you.</p>
                {% endif %}
            </div>
        {% endif %}
        
        {% if user.is_authenticated %}
        {% comment %}
            <h2>{% trans "Keep in touch with your grain members" %}</h2>
            <p>{% blocktrans %}JAGOM has setup those mailing-list in order to help you to keep in touch with your active members or simply people who are interested in your project{% endblocktrans %}
                <ul>
                    {# TO BE IMPROVED BY EXTENDING project WITH A PROPERTY #}
                    <li><a href="mailto:">chiinteressa@{{ project.slug }}.g.jagom.org</a></li>
                    <li><a href="mailto:">chicitiene@{{ project.slug }}.g.jagom.org</a></li>
                </ul>
            </p>
        {% endcomment %}
            <h2><a href="{{ PRJS_URL }}{{ project.slug }}">{% trans "Let your grain grow!" %}</a></h2>
            {% comment %}
            <h2>{% trans "Discussion Topics" %}{% if project.topics.all.count %} ({{ project.topics.all.count }}){% endif %}</h2>
            
            {% get_topics_for_group project as topic_queryset %}
            {% with topic_queryset|slice:":5" as topics %}
                {% if topics %}
                    {% for topic in topics|slice:":5" %}
                        {% show_topic topic %}
                    {% endfor %}
                    <p><a href="{% groupurl topic_list project %}">{% trans "more..." %}</a></p>
                {% else %}
                    {% groupurl topic_list project as new_topic_url %}
                    <p>{% blocktrans %}None yet. <a href="{{ new_topic_url }}">Start one...</a>{% endblocktrans %}</p>
                {% endif %}
            {% endwith %}
            
            {% content_objects project "wakawaka.WikiPage" as articles %}
            <h2>{% trans "Wiki Articles" %}{% if articles %} ({{ articles|length }}){% endif %}</h2>
            
            {% if articles %}
                <table class="topics">
                    {% for article in articles %}
                        {{ article }}
                    {% endfor %}
                </table>
                <p><a href="{% groupurl wakawaka_page_list project %}">{% trans "more..." %}</a></p>
            {% else %}
                {% groupurl wakawaka_page_list project as wiki_url %}
                <p>
                    {% blocktrans %}
                        None yet. Go to the <a href="{{ wiki_url }}" title="wiki">wiki</a> to start a new article.
                    {% endblocktrans %}
                </p>
            {% endif %}
            
            <h2>{% trans "Tasks" %}</h2>
            
            {% groupurl task_list project as tasks_url %}
            <p>More here soon but, in the meantime, here's a link to the <a href="{{ tasks_url }}">task list</a>.</p>
            {% endcomment %}
                        
        {% endif %}
    </div>

{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
            
        $(document).ready(function() {
            var url=$('#what-are-we-doing h2 a').attr('href'); 
            update_rss_feed(url, $('#what-are-we-doing-content')); 
            $('#what-are-we-doing').toggle('slow');

            $('#edit-project').hide();
            $('#edit-project-toggle').click(function() {
                $('#edit-project').toggle();
                $('#edit-project').autoscroll();
                return false;
            });
            if ($('#edit-project .error').length) {
                $('#edit-project').show();
                $('#edit-project .error').autoscroll();
            }
            $('#add-member').hide();
            $('#add-member-toggle').click(function() {
                $('#add-member').toggle();
                $('#add-member').autoscroll();
                return false;
            });
            if ($('#add-member .error').length) {
                $('#add-member').show();
                $('#add-member .error').autoscroll();
            }
        });

        function update_rss_feed(feedUrl, feedContentElement) {
            //Thanks to 
            //http://visualrinse.com/2008/09/24/how-to-build-a-simple-rss-reader-with-jquery/
            feedContentElement.empty();
            feedContentElement.append('<center><img src="{{ STATIC_URL}}img/ajax-loader.gif" /></center>');
            $.get('{% url feed_proxy %}', { url: feedUrl }, function(data) {
                feedContentElement.empty();
                $(data).find('item').each ( function () {
                    var item = $(this);
                    var title = item.find('title').text();
                    //FIXME Hack
                    if (title.indexOf('Changeset') != -1) {
                        title = 'Modifica al programma: ' + title.substr(64);
                    } else 
                    if ((title.indexOf('Ticket') == 0)||(title.indexOf('Segnalazione') == 0)) {
                        var isubject= title.indexOf("(");
                        var first_part = title.substr(0, isubject);
                        //created by user 
                        var isubject_end = title.lastIndexOf(")");
                        var second_part= title.substr(isubject_end+2); 
                        //ticket subject
                        var subject = title.substr(isubject+1, isubject_end-isubject-1); 
                        title = subject + " (" + second_part + ")";
                    }
                    //End hack
                    var author = item.find('dc:creator').text();
                    var pubDate = item.find('pubDate').text();

                    var link = item.find('link').text();

                    // now create a var 'html' to store the markup we're using
                    // to output the feed to the browser window
                    var html = "<div class=\"entry\">";
                    html += "<h2 class=\"postTitle\">";
                    html += "<a href=\"" + link + "\" target=\"_blank\"> " + title + "<\/a>";
                    html += "<\/h2>";
                    html += "<em class=\"date\">" + pubDate + "<\/em>";
                    //var description = item.find('description').text();
                    //html += "<p class=\"description\">" + description + "<\/p>";
                    html += "<\/div>";
         
                    //put that feed content on the screen!
                    feedContentElement.append($(html));
                });
            });
        };

    </script>
    
{% endblock %}
