
#intro-body { 
    margin: 6em auto 0; 
    padding: 10px; 
    clear:both;
    text-align: center;
}
#footer { margin: auto; }

#box-fortune {
    color: #993;
    text-align: left;
    max-width: 15em;
    margin:0.5em 0;
    max-width:15em;
    height: 13em;
}

#box-fortune .author {
    margin-top: 0.3em;
    text-align:right;
}

.float-front {
    float:left;
    position:absolute;
    z-index:1010;
}

