.italic { font-style : italic; }
.normal { font-size  : normal; }
.italic-normal { font-style : italic; font-size : medium; }
.text-justify { text-align : justify; }
.text-center { text-align : center; }
.text-right { text-align : right; }
.text-left { text-align : left; }
.text-vcenter { text-align : center; vertical-align : middle; }
.center { margin : 0 auto; }
.right { float : right; }
.spacer { clear : both; }
.cell_layout { display : table-cell; vertical-align : top; padding:0.5em;}
.row_layout  { display : table-row; }
.row_group_layout { display : table-row-group; }
.table_layout { display : table; }
.inline { display : inline; }
a, a:visited {
    color: #B33;
}

#head {
    background: none;
    border-bottom: 3px solid #993; /* tab border */
    position: relative;
}
#head .logo {
    height: 70px;
    padding-top: 0;
}

#head .login {
    position: absolute;
    top: 6px;
    right: 15px;
    color: #993; /* login bar text colour */
}
#head .login a, #head .login a:visited {
    color: #993; /* login bar link colour */
}
#head .login a:hover {
    color: #c6c400; /* login bar link hover colour */
}

#subnav {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#dee450 none repeat scroll 0 0;
    border-bottom:1px solid #99BBCC;
    margin:0;
    padding:0;
}

.delete-icon {
    float:right;
    margin-left:0;
}

.rss-reader {
    border-bottom:1px solid lightgrey;
    border-left:1px solid lightgrey;
    border-right:1px solid lightgrey;
    border-top:1px solid lightgrey;
    font-size:0.8em;
    max-width:34em;
    min-width:8em;
    text-align:left;
    background-color: white;
    margin-bottom: 20px;
}

.rss-reader > h2 {
    background-color:#C6C400;
    margin:0;
    padding:0 0.2em;
}

a.close {
    float:right;
    margin-top: 0.2em;
    font-size:0.7em;
    text-decoration:none;
    font-weight:normal;
}
.rss-reader-content {
    padding:0 0.5em;
}

a.block-title {
    text-decoration:none;
    color: #333;
}

.entry {
}

.postTitle {
    font-size: 1.2em;
}
