{% extends "intro_base.html" %}
{% load i18n %}
{% load account_tags %}
{% load ifsetting_tag %}
{% load openid_tags %}

{% block head_title %}JAGOM is A Grain Of Mustard seed{% endblock %} 
        {% block extra_head_base %}
            <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
            <link rel="stylesheet" href="{{ STATIC_URL }}css/intro.css" />
            {% block extra_head %}{% endblock %}
        {% endblock %}

{% block logo_link_image %}<a href="{% url intro %}"><img src="{{ STATIC_URL }}img/logo.jpg" alt="JAGOM" width="149" /></a>{% endblock %}
    
{% block login %}
    {% if user.is_authenticated %}
        {% ifopenid %}<img src="{{ STATIC_URL }}images/openid-icon.png" alt="Logged in with OpenID" />{% endifopenid %}<b>{% user_display user %}</b> | <a href="{% url acct_email %}">{% trans "Account" %}</a> | {% if user.is_staff %}<a href="/admin/">{% trans "Admin" %}</a> | {% endif %}<a href="/openid/logout/?next={% url acct_logout %}">{% trans "Logout" %}</a>
    {% else %}
        <a href="{% url acct_login %}">{% trans "Login" %}</a> {% ifsetting ACCOUNT_OPEN_SIGNUP %}{% trans "or" %} <a href="{% url acct_signup %}"><b>{% trans "Sign up" %}</b></a>{% endifsetting %}
    {% endif %}
{% endblock %}

{% block locale_switcher %}
    <form action="{% if request.user.is_authenticated %}{% url acct_language_change %}{% else %}/i18n/setlang/{% endif %}" method="post" id="locale_switcher">
        {% csrf_token %}
        <select name="language" onchange="$('#locale_switcher').submit()">
            {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}"{% ifequal lang.0 LANGUAGE_CODE %} selected="selected"{% endifequal %}>{{ lang.1 }}</option>
            {% endfor %}
        </select>
    </form>
{% endblock %}
        
{% block body %}
    <div class="rss-reader" id="what-are-we-doing" style="display:none;">
        <h2>
            <a href="http://www.jagom.org/trac/JAGOM/timeline?milestone=on&ticket=on&ticket_details=on&wiki=on&max=8&authors=&daysback=60&format=rss"><img src="{{ STATIC_URL }}img/rss16x16.png" /></a> 
            {% trans "Last activities" %} 
            <a href="#" class="close" onclick="$('#what-are-we-doing').hide('slow');">{% trans "Close" %}</a>
        </h2>
        <div class="rss-reader-content" id="what-are-we-doing-content">
        </div>
    </div>
    <div class="rss-reader" id="what-dev-are-doing" style="display:none;">
        <h2>{% trans "Last developers activities" %} <a href="http://www.jagom.org/trac/JAGOM/timeline?changeset=on&max=10&daysback=60&format=rss"><img src="{{ STATIC_URL }}img/rss16x16.png" /></a></h2>
        <div class="rss-reader-content" id="what-dev-are-doing-content">
        </div>
    </div>

    <!-- Start main content -->
    <div class="table_layout center">
        <div class="cell_layout" style="min-width: 15em;">
            <p style="margin: 0.5em 0;">
                <video width="200" src="{{ STATIC_URL }}videos/0_IllMakeIt-{{ LANGUAGE_CODE }}.ogv" style="display:none" id="illmakeit-video" controls>Your browser does not support the <code>video</code> element please use an HTML5 capable browser (like <a href="http://getfirefox.com" target="_blank">Mozilla Firefox)</a>.</video>
                <a href="#" onclick="$(this).hide(); $('video#illmakeit-video').fadeIn(); document.getElementById('illmakeit-video').play();">{% trans "I'll make it!" %}</a>
            </p>
            <p class="appear" id="box-fortune">Loading fortune...</p>
        </div>
        <span class="cell_layout"><img src="{{ STATIC_URL }}img/logo.jpg" alt="JAGOM logo" id="big-logo" /></span>
        <span class="cell_layout appear" style="vertical-align:middle;">
            <p>
            <h2 onclick="$(this).next('div').show('slow');"><a href="#" style="text-decoration:none;">{% trans "What is this?" %}</a></h2>
            <div style="display:none; max-width:250px;" class="text-justify">
            {% blocktrans %}
            JAGOM is a social network and a projects forge.<p />
            Projects are small grain of mustard seeds that JAGOM helps to grow.<br />These grains are seeded in gardens which are groups of people who really care of the seed and do the job to make the seed grow. People are the seeders.<p />
            {% endblocktrans %}
            <p>
                <a href="http://www.jagom.org/trac/JAGOM/wiki" target="_blank">{% trans "More on our vision" %}</a>
                <a class="right" href="#" onclick="$(this).parent().parent().hide('slow');">{% trans "Close" %}</a>
            </p>
            </div>
            <hr /><p>
            <h2 onclick="$(this).next('div').show('slow');"><a href="#" style="text-decoration:none;">{% trans "What next?" %}</a></h2>
            <div style="display:none; max-width:250px;" class="text-justify">
            {% url acct_login as login_url %}
            
            <p class="what_next">
                {% ifsetting ACCOUNT_OPEN_SIGNUP %}
                    {% url acct_signup as signup_url %}
                    {% blocktrans %}Start by <a href="{{ signup_url }}">signing up</a> and <a href="{{ login_url }}">logging in</a>.{% endblocktrans %}
                {% else %}
                    {% blocktrans %}Start by <a href="{{ login_url }}">logging in</a>.{% endblocktrans %}
                {% endifsetting %}
                <p>{% blocktrans %}The goal of this version is to give an idea of principles JAGOM is based on, and to get attention of interested people{% endblocktrans %}</p>
            </p>
            </div>
        </span>
    </div>
    <video src="{{ STATIC_URL }}0.ogv" style="display:none" id="intro-video" controls>Your browser does not support the <code>video</code> element please use an HTML5 capable browser (like <a href="http://getfirefox.com" target="_blank">Mozilla Firefox)</a>.</video>
    </p>
    <p class="what_next">
        <a href="#" onclick="$('img#big-logo').hide().replaceWith($('video#intro-video')); $('#head').fadeTo('slow', 0.9); $('video#intro-video').fadeIn(); document.getElementById('intro-video').play();">{% trans "Watch introduction video" %}</a>
    </p>
    <p class="what_next">
        <a onclick="var url=$('#what-are-we-doing h2 a').attr('href'); update_rss_feed(url, $('#what-are-we-doing-content')); $('#what-are-we-doing').show('slow');" href="#">{% trans "Take a look at JAGOM grain growth" %}</a>
        
    </p>

{% endblock %}
            
{% block footer %}
    <div class="legal text-center">
        JAGOM {{ VERSION }} &copy; 2010 &lt;<a href="http://www.linkedin.com/in/lucaferroni" target="_blank">Luca Ferroni</a> - <a href="http://www.befair.it" target="_blank">BeFair s.n.c.</a>&gt;
    </div>
{% endblock %}

{% block extra_body_base %}
    <script type="text/javascript">
        var timerInterval = 10000;
        //var JAGOM_timeline_feed_url = 'http://www.jagom.org/trac/JAGOM/timeline?milestone=on&ticket=on&wiki=on&max=5&authors=&daysback=60&format=rss';

        function periodicalFortune() {
            $('#box-fortune').load('{% url get_fortune %}');
            setTimeout(periodicalFortune, timerInterval); 
        };

        function update_rss_feed(feedUrl, feedContentElement) {
            //Thanks to 
            //http://visualrinse.com/2008/09/24/how-to-build-a-simple-rss-reader-with-jquery/
            feedContentElement.empty();
            feedContentElement.append('<center><img src="{{ STATIC_URL}}img/ajax-loader.gif" /></center>');
            $.get('{% url feed_proxy %}', { url: feedUrl }, function(data) {
                feedContentElement.empty();
                $(data).find('item').each ( function () {
                    var item = $(this);
                    var title = item.find('title').text();
                    //Hack
                    if (title.indexOf('Changeset') != -1) {
                        title = 'Modifica al programma: ' + title.substr(64);
                    }
                    var author = item.find('dc:creator').text();
                    var pubDate = item.find('pubDate').text();

                    var link = item.find('link').text();
                    var description = item.find('description').text();

                    // now create a var 'html' to store the markup we're using
                    // to output the feed to the browser window
                    var html = "<div class=\"entry\">";
                    html += "<h2 class=\"postTitle\">";
                    html += "<a href=\"" + link + "\" target=\"_blank\"> " + title + "<\/a>";
                    html += "<\/h2>";
                    html += "<em class=\"date\">" + pubDate + "<\/em>";
                    html += "<p class=\"description\">" + description + "<\/p>";
                    html += "<\/div>";
         
                    //put that feed content on the screen!
                    feedContentElement.append($(html));
                });
            });
        };
            
        $('document').ready(function() {
            periodicalFortune();
            //update_rss_feed(JAGOM_timeline_feed_url, $('#what-are-we-doing-content'));
        });
    </script>
    {% block extra_body %}{% endblock %}
{% endblock %}
