{% extends "verybase.html" %}
{% load i18n %}

        {% block header %}
        <div id="head" class="appear" style="opacity:0;">
            <div class="logo" dir="ltr">{% block logo_link_image %}{% endblock %}</div>
            <div class="login">{% block login %}{% endblock %}{% block locale_switcher %}{% endblock %}<div style="text-align: right;"></div></div>
        </div>
        {% endblock %}
        
        {% block body_outer %}
        <div id="intro-body">
                <ul id="messages">
            {% if messages %}
                    {% for message in messages %}
                    <li id="message_{{ forloop.counter }}"{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        <a href="#"><small>{% trans "clear" %}</small></a>
                        {{ message }}
                    </li>
                    {% endfor %}
            {% endif %}
                </ul>
            
            {% block body %}
            {% endblock %}
            
        </div>
        {% endblock %}
